/*body*/
body{
/*	background-color: #f5f5f5*/
}

/*header logos*/

#logos{
	background-color: #ffffff;
	padding: 20px;
}

.logosmovil{
	background-color: #FFFFFF;
	padding: 10px;
}

.perfil h2{
	padding: 10px;
	color: #466189;
}

.perfil p{
	padding: 10px;
	color: #191919
}

.admision{
	background-color: #466189
}

.admision h2{
	padding: 10px;
	text-align: right;
	color: #f5f5f5;
}

.admision h3, .admision p{
	color: #f5f5f5;
}

.perfillead {
	padding: 10px;
}
.fondo{
	background-color: #f5f5f5;
}

#contenidos{
	padding-bottom: 20px;
}

/*barra navegacion*/
/*.navbar-inverse { background-color: #2264b4}*/
.navbar-inverse { background-color: #466189}
.navbar-inverse { border-radius: 0px}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #19344E}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #19344E}
.dropdown-menu { background-color: #466189}
.dropdown-menu { border-radius: 0px}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #19344E}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #466189}
.navbar-inverse .navbar-brand { color: #FFFFFF}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { color: #F2F2F2}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #f2f2f2}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #ffffff !important}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #ffffff}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #ffffff}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #ffffff}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}
.navbar-inverse .navbar-toggle { border-color: #466189 !important}
.navbar-inverse .navbar-toggle { border-radius: 0px !important}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {background-color: #19344E !important}

/*separacion carousel*/

#myCarousel{
	margin-top: -20px;
}

/*estilo caption carousel*/



#hilonoticias{

	margin-top: 20px;
	background-color: #ffffff;
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid #dbd7d2;
}

.aside{
	margin-top: 20px;
	padding: 10px;
	background-color: #FFFFFF;
}


.pager{

	padding-top: 40px;
}

.leermas{
	border-radius: 0px;
	margin-bottom: 20px;
}



#tituloseccion{
	background-color: #78B800;
	color: #ffffff;
	text-align: center;
	padding: 10px;
	margin-left: -20px;
	margin-top: -20px;

}

.aside h4{
	color: #466189;
}

.aside2 h4{
	color: #466189;
}

/*estilo seccion galerias*/

#galerias{
	background-color: #2e2e2e;
}

#galerias h2{
	color: #f5f5f5
}

#galeriaimg{
	padding: 20px;

}

footer{
/*	background-color: #78b800*/
	/*background-color: #001F90*/
	background-color: #19344E
}

#datosfooter {
	color: #f5f5f5 !important;
	padding: 20px;
	font-size: 8pt;
	text-align: right

}

#logosydatos{
	margin-top: 20px;
	padding: 20px;
}

#mision h2{
	color: #78b800;
}

#mision img{
	margin-top: 50px;
}

#mision h2, #mision p{
	padding: 20px;
}

#vision{
	margin-top: 50px;
	margin-bottom: 50px;
}

#vision h2{
	color: #78b800;
}

#vision h2, #vision p{
	padding: 20px;
}

#vision img{
	margin-top: 50px;
}
.normativas{
	background-color: #78b800
}

.normativas h2{
	color: #ffffff;
}

.panel{
	padding: 20px;
	border-radius: 0px;


}

.pdficon{
	color: #9a1a00;
}

.descargabtn{
	border-radius: 0px;
	margin-top: 20px;
}

.docentesbg{
	background-color: #ffffff;
	border: 1px solid #dbd7d2;
}
.docentes{
	margin-top: -20px;
	padding-bottom: 20px;
	background-color: #f5f5f5
}
.docentes img{
	padding-top: 30px;
}

.docentesdatos{
	padding: 20px;
}

.docentes h1{
	color: #466189;

}

.docentes h5{
	color: #466189
}

@media(max-width:768px) {

	#tituloseccion{
		/*margin-top: 0px;*/
		margin-left: 0px;
		margin-top: 0px;
	}
	#datosfooter{
		text-align: center;
	}
	#galerias h2{
		color: #f5f5f5;
		text-align: center
	}
	#hilonoticias{
		height: 1970px;
		margin-top: 20px;
		background-color: #ffffff;
		padding: 20px;
		border: 1px solid #dbd7d2;
	}
	#mision p, #mision h2{
		text-align: left !important;
		padding: 0px;

	}

	.perfil h2{
		text-align: center;
		padding: 10px;
		color: #466189;
	}

	.admision h2{

		text-align: center;

	}

	#vision p, #vision h2{
		text-align: left !important;
		padding: 0px;

	}
	.normativas h2{
		padding: 10px;
		background-color: #5da423;
		text-align: center;
	}
	.docentesdatos h5{
		background-color: #5da423;
		color: #ffffff;
		padding: 10px;
	}
	.docentes h3{
		text-align: center;
	}
}
