/*header logos*/

#logos{
	padding: 20px;
}


/*barra navegacion*/

.navbar-inverse { background-color: #001F90}
.navbar-inverse { border-radius: 0px}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #3D5DD1}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #3D5DD1}
.dropdown-menu { background-color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #3D5DD1}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #001252}
.navbar-inverse .navbar-brand { color: #FFFFFF}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { color: #F2F2F2}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #f2f2f2}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #333333}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}

/*separacion carousel*/

#myCarousel{
	margin-top: -20px;
}

#hilonoticias{
	padding: 20px;
	margin-bottom: 20px;
}

#calendario{
	padding: 20px;
	
}

.pager{
	
	padding-top: 40px;
}

#leermas{
	margin-bottom: 20px;
}

#tituloseccion{
	background-color: #3D5DD1;
	width: 110px;
	color: #ffffff;
	text-align: center;
	padding: 10px;
}

#titulocalendario{
	color: #3d5dd1;
}

/*estilo seccion galerias*/

#galerias{
	background-color: #2e2e2e;
}

#galerias h2{
	color: #f5f5f5
}

#galeriaimg{
	padding: 20px;

}

footer{
	background-color: #191a36
}

#datosfooter {
	color: #f5f5f5 !important;
	padding: 20px;
	font-size: 8pt;
	text-align: right
	
}

#logosydatos{
	margin-top: 20px;
	padding: 20px;
}

@media(max-width:767px) {
	#datosfooter{
		text-align: center;
	}
	#galerias h2{
		color: #f5f5f5;
		text-align: center
	}
}