
img.avatar{
	width: 64px !important;
	height: 64px !important;
}

.table-input{
	width: inherit !important;
}
.center {
    text-align: center !important;
    vertical-align: middle !important;
}
.thumbnail {
    height: auto !important;
    overflow: hidden !important;
}
a{
	cursor:pointer !important;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

